<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="secrets.local.config">
    <add key="clientIds" />
    <add key="clientSecrets" />
    <add key="tenantId" />
    <add key="subscriptionId" />
    <add key="targetNicCount" value="500" />
    <add key="resourceGroupPrefix" value="throttlingtest" />
  </appSettings>
</configuration>